In [1]:
# IMPORTS
import pandas as pd
import numpy as np
import random
from faker import Faker
import os

In [2]:
if not os.path.exists("./Data/transactions_data.csv"):
    # Creating fake data to work with Faker library
    fake = Faker()

    # Create a DF of fake e-commerce transactions
    num_transactions = 10000

    clients = [fake.name() for _ in range(num_transactions // 2)]
    products_names = ['Produto A', 'Produto B', 'Produto C', 'Produto D', 'Produto E', 'Produto F', None]
    categories = ['Calçados', 'Acessórios', 'Roupas', None]

    # products = [{'Product_ID': i,
    #         'Name': random.choice(products_names),
    #         'Category': random.choice(categories),
    #         'UnitPrice': round(random.uniform(10, 100), 2)} for i in range(len(products_names))]

    # Generate transactions
    data = [{'Transaction_ID': i,
            'Date': fake.date_time_this_decade(),
            'Client': random.choice(clients),
            'Product': random.choice(products_names),
            'Category': random.choice(categories),
            'Quantity': random.randint(1, 5),
            'UnitPrice': round(random.uniform(10, 100), 2)} for i in range(num_transactions)]

    transactions_data = pd.DataFrame(data)

    # Export transactions to csv 
    transactions_data.to_csv("./Data/transactions_data.csv", index=False)
    
    del(fake)
    del(num_transactions)
    del(products_names)
    del(categories)
    del(data)
    del(transactions_data)

In [3]:
transactions = pd.read_csv("./Data/transactions_data.csv")

transactions.describe(include='all')

,Transaction_ID,Date,Client,Product,Category,Quantity,UnitPrice
count,10000.00000,10000,10000,8646,7494,10000.000000,10000.000000
unique,NaN,10000,4222,6,3,NaN,NaN
top,NaN,2023-07-19 04:46:06,Robert Jones,Produto C,Acessórios,NaN,NaN
freq,NaN,1,9,1480,2521,NaN,NaN
mean,4999.50000,NaN,NaN,NaN,NaN,2.986500,54.947379
std,2886.89568,NaN,NaN,NaN,NaN,1.401683,26.061132
min,0.00000,NaN,NaN,NaN,NaN,1.000000,10.010000
25%,2499.75000,NaN,NaN,NaN,NaN,2.000000,32.370000
50%,4999.50000,NaN,NaN,NaN,NaN,3.000000,54.805000
75%,7499.25000,NaN,NaN,NaN,NaN,4.000000,77.642500
max,9999.00000,NaN,NaN,NaN,NaN,5.000000,100.000000

In [4]:
# Remove NaN values
transactions.dropna()

# Transform date column to datetime
transactions['Date'] = pd.to_datetime(transactions['Date'])

# Create Income series
transactions['Income'] = transactions['Quantity'] * transactions['UnitPrice']

In [5]:
categories = transactions.groupby('Category')

print(categories['Income'].sum())

print(categories.head())

Category
Acessórios    401790.90
Calçados      416018.06
Roupas        411626.19
Name: Income, dtype: float64
    Transaction_ID                Date                Client    Product  \
0                0 2023-07-19 04:46:06        Duane Hamilton  Produto E
1                1 2020-05-18 02:42:17           John Butler  Produto E
2                2 2024-01-02 07:14:55          Kari Wilkins  Produto C
5                5 2022-12-29 07:29:48     Michael Dominguez        NaN
6                6 2021-02-04 10:31:07  Christopher Shepherd  Produto B
9                9 2022-12-17 05:02:36      Brenda Fernandez  Produto F
10              10 2022-05-01 15:07:32          Wendy Parker  Produto E
11              11 2023-05-12 13:02:56         Mathew Bryant  Produto E
12              12 2021-07-03 18:28:43         Wendy Frazier        NaN
13              13 2020-02-25 23:41:37        Samantha Adams  Produto E
14              14 2022-05-11 19:43:05          Johnny Greer  Produto E
15              15 2020-10-12 13:14:29       Benjamin Taylor  Produto F
17              17 2021-02-28 02:11:20       Melissa Roberts  Produto E
19              19 2020-04-26 15:07:12         Shane Sanchez  Produto A
21              21 2020-09-08 05:48:15        Marissa Wilson  Produto F

      Category  Quantity  UnitPrice  Income
0   Acessórios         1      73.41   73.41
1       Roupas         2      17.38   34.76
2     Calçados         1      41.79   41.79
5     Calçados         4      17.65   70.60
6       Roupas         5      84.63  423.15
9       Roupas         1      14.97   14.97
10      Roupas         3      37.66  112.98
11  Acessórios         4      86.66  346.64
12  Acessórios         4      36.92  147.68
13      Roupas         5      70.06  350.30
14    Calçados         3      26.91   80.73
15  Acessórios         4      93.50  374.00
17  Acessórios         2      23.52   47.04
19    Calçados         5      93.64  468.20
21    Calçados         3      71.74  215.22